{% extends 'base.html' %}
{% load bootstrap5 %}

{% block content %}

  
  <main>
  

  
    <div class="album py-5 bg-light">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center">
          <div class="col">
            <form method="post">
              <h1 class="h3 mb-3 fw-normal">Por favor, faça seu cadastro</h1>
                
              {% csrf_token %}

              {% if error_message %}
              <div class="alert  alert-danger" role="alert">
                {{ error_message }}
              </div>
              {% endif %}

              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                  </div>
                {% endfor %}
              {% endif %}

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="name" name="nome">
                <label for="name">Nome</label>
              </div>
          
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="email" placeholder="name@example.com" name="email">
                <label for="floatingInput">Email</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="telefone" placeholder="(99) 99999-9999" name="telefone">
                <label for="telefone">Telefone</label>
              </div>

              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="endereco" placeholder="Endereço" name="endereco">
                <label for="endereco">Endereço</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password1" placeholder="Password" name="password1">
                <label for="password">Senha</label>
              </div>

              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password2" placeholder="Password" name="password2">
                <label for="password">Repetir Senha</label>
              </div>
          
            
              <button class="btn btn-primary w-100 py-2 mb-3" type="submit">Cadastrar</button>
            </form>
            <a href="{% url 'login' %}" class="w-100 py-2">Fazer login</a>
          </div>
        </div>

      </div>
    </div>
  
  </main>
  
  <footer class="text-muted py-5">
    <div class="container">
      <p class="float-end mb-1">
        <a href="#">Back to top</a>
      </p>
      <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
      <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="/docs/5.0/getting-started/introduction/">getting started guide</a>.</p>
    </div>
  </footer>

{% endblock %}